ENVIRONMENT=test
BOT_SECRET_TOKEN=test
DJANGO_SECRET_KEY=test
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=https://test.org
DEBUG=1
PORT=8000
POSTGRES_DB=test
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test
DOMAIN_URL=127.0.0.1
IMAGE_APP=test
IMAGE_NGINX=test
WEBHOOK_SECRET_TOKEN=test
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_ENDPOINT=http://localstack:4566
S3_REGION=ru-central1
S3_BUCKET=test
PROMETHEUS_API_KEY=test
IMAGE_UA=test
