BOT_SECRET_TOKEN=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
DEBUG=
PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DOMAIN_URL=
ENVIRONMENT=
IMAGE_APP=
IMAGE_NGINX=
WEBHOOK_SECRET_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_REGION=
S3_BUCKET=
