[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=5.1"
django-environ = "~=0.12"
black = "~=25.1"
isort = "~=6.0"
flake8 = "~=7.1"
python_telegram_bot = "~=21.1"
phonenumbers = "~=8.13"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
