[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1.6"
django-environ = "0.12"
python-telegram-bot = "21.11.1"
phonenumbers = "8.13.55"
psycopg = "3.2.5"

[dev-packages]

[requires]
python_version = "3.13"
